body {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh;
}
#container {
  padding: 50px;
  text-align: center;
  background-color: white;
}
h2 {
  margin: 0 0 10px 0;
}
input {
  width: 200px;
  margin: 10px 0px;
  padding: 10px;
}
input[type="submit"] {
  width: 150px;
  border-radius: 10px;
  background-color: darkred;
  color: aliceblue;
}
.error {
  text-align: left;
  color: red;
}
