body {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#container {
  color: white;
}
.digit {
  font-weight: bold;
  font-size: 150px;
}
.txt {
  font-size: 40px;
  font-weight: bold;
}
#btn-container {
  text-align: center;
  margin-top: 40px;
}
.btn {
  padding: 10px 20px;
  margin: 0px 18x;
  color: white;
  cursor: pointer;
  color: black;
  font-size: 14px;
  border-radius: 15px;
  background-color: rgb(171, 220, 9);
}
#start {
  background-color: aqua;
}
