body {
  background-color: blanchedalmond;
  align-items: center;
  text-align: center;
}

.input-div {
  display: inline-block;
}
.inp {
  padding: 5px 10px;
  margin: 10px;
  font-weight: 30px;
  font-size: 30px;
  width: 250px;
  text-align: center;
}
label {
  font-size: 22px;
}
