body {
  padding: 50px 100px;
  background-color: burlywood;
  text-align: center;
}
h1 {
  background-color: aqua;
  padding: 10px;
  margin: 0px;
  width: 389px;
  text-align: center;
  margin-left: 426px;
}

#textbox {
  width: 400px;
  border-color: blue;
}
textarea {
  font-size: 20px;
}

p {
  text-align: center;
  background-color: aquamarine;
  padding: 10px;
  margin: 0px;
  font-weight: bold;
  font-size: 20px;
  width: 388px;
  justify-content: center;
  align-items: center;
  margin-left: 430px;
}
